body{
    background-color: rgb(240, 240, 240);
   
}
#navbarNav{
  margin-left: 50%;
   font-size: 1em;
   font-weight: 7900px;
}

.iconsocial{
    margin-left: 70%;
}
/* secondNav */

.socialicons ul li{
    font-size: 20px;
    margin-right: 30px;

}
.weblogo{
    margin-top: -10px !important;
    width: 70px;
    height: 60px;
    border-radius: 100px;
}
#navbarNav ul li{
 font-family: 'Times New Roman', Times, serif;
 font-size: 1em;
 padding-left: 5px;
}
#navbarNav ul a{
    color: black !important;
}

.hdContact{
   
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600px;
}
.contactPage{
    width: 50%;
    box-shadow: 0 9px 12px lightgrey;
    background-color: white;
    color: black;
 
    margin-top: 10%;


}
.contactBtn{
 
    margin-bottom:15px ;
    background-color: #bcd9f9;
    color: black;
    width: 50%;
    margin-left: 25%;
}
.mainfoot{
    background-color: black;
}
.foot p{
    text-align: justify;
    width:80%;
    color: grey;
}
.hdFooter{
    color: white;
    font-weight: 600px;
    margin: 30px;
    font-size: 2em;
}


.footer-ul li a{
    color: grey;
    padding:10px;
}
.footer-ul li {
    list-style-type: none;
    color: grey;
}

.navbar ul li{
    transition: .5s;
}
.navbar ul li a:hover ,.active{
    border-bottom: 1px solid black;
}


/* SignUp_Page */

.signUp_page{
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 0 9px 12px lightgrey;
    background-color: white;
    color: black;
}
.hdSignUp{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}
.signUpBtn{
    margin-bottom:15px ;
    background-color: #bcd9f9;
    color: black;
    width: 50%;
    margin-left: 25%;
}

.signUp_page label{
    color: black;
    font-size: 20px;
}


/* SignIn_Page */

.hdSignIn{
 padding: 20px;
 color: black;
 margin-top: 20px;
 text-align: center;
 font-family: monospace;
 font-weight: bolder;
 font-size: 20px;
}
.SignIn_Page{
    /* background-color: #ffc107; */
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 0 9px 12px lightgrey;
    background-color: white;
    color: black;
    width: 50%;

    
}
.SignInBtn{
    margin-bottom:15px ;
    background-color: #bcd9f9;
    color: black;
    width: 50%;
    margin-left: 25%;
}
#errorMessage{
    color: red;
    font-weight: bold;
}
#successMessage{
    color: green ;
    font-weight: bold;
}


/* Captcha Code */
.hdVerification{
    text-align: center;
    width: auto;

}
.bodyVerrify{
    background-color: #39559e;
    color: black;
    width: 40%;
}
.color{
    background-color: #5f6d7b;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Card */

.ProductCard{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 12px lightgrey;
    overflow: hidden;
    margin: 10px;
}
.ProductCard img{
    width: 100%;
}
.medium{
    font-size: 2em;
   
}
.button{
    border-radius: 20px;
    background-color: #505050;
}

.button:hover button{
width: 100%;
}

.cartbtn{
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    transition: .5s;

}

.cardBody{
    margin-top: 50px;
    margin-bottom: 20px;
}


/* cartPage */
h1{
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.sliderVegi{
    height: 400px;
    width: 100%;
   margin-top: 20px;
}

.inputAddToCart{
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
    position: relative;
    left: 40px;
   
}
.cancel{
    width: 40px;
    height: 40px;
    background-color:black;
   color: white;
   border-radius: 20px;
   border: none;
   font-size: 20px;
   outline-style: none;
}
.position{
    position: relative;
    right: 70px;
}
.cartRow{
    background-color: lightgray;
    margin: 10px;
    width: 100%;
    border-radius: 70px;
}
.cross{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    position: relative;
    top: 65px;
}
.addtoCart{
    width: 100%;
    border-radius: 100px;
}
/* adminPanel */
.adminsideCol {
    background-color: black ;
    height: 700px;
}
.dashboardPic{
    color: white;
    margin: 30px;
    text-align: center;
    font-size: 70px;
}
.adminsideCol ul li{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    text-align: center;
    list-style-type: none;

}
.adminsideCol ul a{
    color: white;
}

.uploadBtn{
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    width: 50%;
    margin: 10px;
}
.UploadDivPage{
    background-color: white;
    /* box-shadow: 0 10px 12px lightgrey;
    border-radius: 10px; */
    height: 108%;
    position: relative;
    bottom: 52px;
    right: 20px;
    box-shadow: 0 0 15px grey,
}
.UploadDivPage label , input , textarea{
    margin: 10px;
    color: black;
    font-size: 1em;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}
.mainSlider{
    width: 100%;
    height: 500px;
}
.owl-item{
    width: 100px;
    height: 100px;
    border-radius: 50px; 
}
.owlZoom a{
    outline: none;
   
}

.owlZoom :hover{
    width: 130px ;
    height: 130px;
    border-radius: 100px;
    transition: .5s;
}
hr{
    color: black;
}

#cart {
    padding: 20px; 
    position: fixed;
    bottom: 20px; 
    /* left: -100%;  */
    left: 20px;
    transition: 1s all; 
    /* border-top-right-radius: 5px; */
    cursor: pointer;
    border-radius: 50%;
}

#subCart {
    position: absolute; 
    top: -10px; 
    right: 0px; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    line-height: 30px;
}

#message {
    position: fixed; 
    bottom: -100%; 
    /* bottom: 0; */
    left: 50%; 
    transform: translateX(-50%); 
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px; 
    transition: 1s all;
}
@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 620px;
    }
}

.menu-area{
    position: static;

}
.mega-area{
    position: absolute;
    width: 100% !important;
    left: 0;
    right: 0;
    padding: 15px !important;
}
.dropdown-item{
    padding: 5px 0 !important;
}
h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.frontDisplay{
    color: black !important;
}

.displayButton{
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
}
.CDT{
    height: 10vh;
}
.customerDetail {

background-color: black !important;
color: white;
text-align: center;
}
.bellIcon{
    background-color: transparent !important;
    text-align: center !important;
    font-size: small !important;
    margin-top: -10px !important;   
}

.checkOut{
    position: absolute;
    right: 1px !important ;
    font-size: 30px !important;
    color: orangered !important;
    
}

.upload{
    position: absolute;
    right: 30px !important ;
    font-size: 30px !important;
    color: orangered !important;
}

@media only screen and (max-width: 600px){
    .mainSlider{
    height: 100% !important;
    }
    .owlZoom{
        text-align: center;
    }
}